@using Motormechs.Web.Models;
@using Microsoft.AspNet.Identity;

@model Motormechs.Web.Models.NewPasswordViewModel
@{
    ViewBag.Title = "New Password";
}


@if (ViewBag.Status == 1)
{
    <section id="login" class="col-md-6 form-Section">
        @*<p class="text-success">@User.Identity.GetUserName().Split('|')[1]</p>*@
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Html.BeginForm("NewPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Change Password</h3>
                        <hr />
                        @Html.ValidationSummary()
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label", @style = " text-align: left;" })
                            <div class="col-xs-12" style="float:left">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label", @style = " text-align: left;" })
                            <div class="col-xs-12" style="float:left">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <input type="hidden" value="@ViewBag.fpc" name="ForgetPassUniqueCode" />
                        <div class="form-group" style="margin-top:15px">
                            <div class="col-xs-12">
                                <input type="submit" value="Change password" class="btn btn100 btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </section>
}
else
{
    <section id="login" class="col-md-6 form-Section" style="padding: 100px 0;">
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm" style="text-align: center;">
                    @if (ViewBag.Status == 0)
                    {
                        <h3>Forgotten password link had expired.</h3>
                        <h4><a href="/home/forget-password">Click here</a> to get new password</h4>
                    }
                    else if (ViewBag.Status == 2)
                    {
                        <h3>Forgotten password link doesn't exist.</h3>
                        <h4><a href="/home/forget-password">Click here</a> to get new password</h4>
                    }
                    else
                    {
                        <h3>Password already changed.</h3>
                        <h4>LastUpdate on @ViewBag.LastPasswordChangedDate </h4>
                    }
                </section>
            </div>
        </div>
    </section>
}

